{% set filter_categories = [
    {
        title: 'Производитель процесора',
        description: '<p>Видеокарты серии Palit JetStream отличаются продвинутыми системами охлаждения и оптимизированной конструкцией для достижения максимальной игровой производительности. Видеокарта GeForce RTX 3070 JetStream создана на базе архитектуры Ampere — архитектуры NVIDIA RTX второго поколения. Она оснащена улучшенными ядрами для трассировки лучей и тензорными ядрами, потоковыми мультипроцессорами и высокоскоростной памятью G6 и обеспечивает необходимую мощность даже для самых требовательных игр.</p><p>Видеокарты серии Palit JetStream отличаются продвинутыми системами охлаждения и оптимизированной конструкцией для достижения максимальной игровой производительности. Видеокарта GeForce RTX 3070 JetStream создана на базе архитектуры Ampere — архитектуры NVIDIA RTX второго поколения.</p>',
        list: [
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            },
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            },
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            }
        ]
    },
    {
        title: 'Производитель блока питания',
        description: '<p>Видеокарты серии Palit JetStream отличаются продвинутыми системами охлаждения и оптимизированной конструкцией для достижения максимальной игровой производительности. Видеокарта GeForce RTX 3070 JetStream создана на базе архитектуры Ampere — архитектуры NVIDIA RTX второго поколения. Она оснащена улучшенными ядрами для трассировки лучей и тензорными ядрами, потоковыми мультипроцессорами и высокоскоростной памятью G6 и обеспечивает необходимую мощность даже для самых требовательных игр.</p><p>Видеокарты серии Palit JetStream отличаются продвинутыми системами охлаждения и оптимизированной конструкцией для достижения максимальной игровой производительности. Видеокарта GeForce RTX 3070 JetStream создана на базе архитектуры Ampere — архитектуры NVIDIA RTX второго поколения.</p>',
            list: [
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            },
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            },
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            }
        ]
    },
    {
        title: 'Серия процессора',
        description: '<p>Видеокарты серии Palit JetStream отличаются продвинутыми системами охлаждения и оптимизированной конструкцией для достижения максимальной игровой производительности. Видеокарта GeForce RTX 3070 JetStream создана на базе архитектуры Ampere — архитектуры NVIDIA RTX второго поколения. Она оснащена улучшенными ядрами для трассировки лучей и тензорными ядрами, потоковыми мультипроцессорами и высокоскоростной памятью G6 и обеспечивает необходимую мощность даже для самых требовательных игр.</p><p>Видеокарты серии Palit JetStream отличаются продвинутыми системами охлаждения и оптимизированной конструкцией для достижения максимальной игровой производительности. Видеокарта GeForce RTX 3070 JetStream создана на базе архитектуры Ampere — архитектуры NVIDIA RTX второго поколения.</p>',
        list: [
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            },
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            },
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            }
        ]
    },
    {
        title: 'Производитель видеокарты',
        description: '<p>Видеокарты серии Palit JetStream отличаются продвинутыми системами охлаждения и оптимизированной конструкцией для достижения максимальной игровой производительности. Видеокарта GeForce RTX 3070 JetStream создана на базе архитектуры Ampere — архитектуры NVIDIA RTX второго поколения. Она оснащена улучшенными ядрами для трассировки лучей и тензорными ядрами, потоковыми мультипроцессорами и высокоскоростной памятью G6 и обеспечивает необходимую мощность даже для самых требовательных игр.</p><p>Видеокарты серии Palit JetStream отличаются продвинутыми системами охлаждения и оптимизированной конструкцией для достижения максимальной игровой производительности. Видеокарта GeForce RTX 3070 JetStream создана на базе архитектуры Ampere — архитектуры NVIDIA RTX второго поколения.</p>',
        list: [
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            },
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            },
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            }
        ]
    },
    {
        title: 'Серия видеокарты',
        description: '<p>Видеокарты серии Palit JetStream отличаются продвинутыми системами охлаждения и оптимизированной конструкцией для достижения максимальной игровой производительности. Видеокарта GeForce RTX 3070 JetStream создана на базе архитектуры Ampere — архитектуры NVIDIA RTX второго поколения. Она оснащена улучшенными ядрами для трассировки лучей и тензорными ядрами, потоковыми мультипроцессорами и высокоскоростной памятью G6 и обеспечивает необходимую мощность даже для самых требовательных игр.</p><p>Видеокарты серии Palit JetStream отличаются продвинутыми системами охлаждения и оптимизированной конструкцией для достижения максимальной игровой производительности. Видеокарта GeForce RTX 3070 JetStream создана на базе архитектуры Ampere — архитектуры NVIDIA RTX второго поколения.</p>',
        list: [
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            },
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            },
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            }
        ]
    },
    {
        title: 'Тип накопителя',
        description: '<p>Видеокарты серии Palit JetStream отличаются продвинутыми системами охлаждения и оптимизированной конструкцией для достижения максимальной игровой производительности. Видеокарта GeForce RTX 3070 JetStream создана на базе архитектуры Ampere — архитектуры NVIDIA RTX второго поколения. Она оснащена улучшенными ядрами для трассировки лучей и тензорными ядрами, потоковыми мультипроцессорами и высокоскоростной памятью G6 и обеспечивает необходимую мощность даже для самых требовательных игр.</p><p>Видеокарты серии Palit JetStream отличаются продвинутыми системами охлаждения и оптимизированной конструкцией для достижения максимальной игровой производительности. Видеокарта GeForce RTX 3070 JetStream создана на базе архитектуры Ampere — архитектуры NVIDIA RTX второго поколения.</p>',
        list: [
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            },
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            },
            {
                title: 'Intel',
                count: 9
            },
            {
                title: 'AMD',
                count: 2
            }
        ]
    }
] %}


<form class="filter-form pr-70">
    <div class="relative filter-container mb-40">
        <div class="filter-item">
            <div class="flex justify-between items-center border-b border-border py-10 item-header">
                <button type="button" class="item-trigger">
                    <svg class="mr-5" width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.38218 1.18769C0.380625 0.955113 0.486256 0.73157 0.675739 0.566441C0.865809 0.400792 1.12454 0.307617 1.39445 0.307617C1.66436 0.307617 1.92309 0.400792 2.11316 0.566441L5.44353 3.46269L8.79415 0.680191C9.18897 0.340933 9.82662 0.340933 10.2214 0.680191C10.4131 0.844487 10.5209 1.06813 10.5209 1.30144C10.5209 1.53475 10.4131 1.7584 10.2214 1.92269L6.17237 5.30019C5.77875 5.63369 5.1488 5.63369 4.75519 5.30019L0.706108 1.80019C0.507919 1.64156 0.391294 1.42104 0.38218 1.18769Z" fill="#1A1A1A"/>
                    </svg>
                    Цена
                </button>
            </div>
            <div class="item-body">
                <div class="py-20">
                    <div class="price-container">
                        <div class="flex justify-between">
                            <div class="relative">
                                <input id="input-min-value" type="number" placeholder="от 3000">
                            </div>
                            <div class="relative">
                                <input id="input-max-value" type="number" placeholder="до 1000000">
                            </div>
                        </div>
                        <div class="my-25 price-range-wrap" data-min-value="3000" data-max-value="1000000">
                            <div class="price-range"></div>
                        </div>
                    </div>
                    <div>
                        <div class="radio-group mb-10">
                            <input id="price-0" type="checkbox" name="Менее 1000">
                            <label for="price-0" class="text-gray text-sm">
                                Менее 1 000 €
                                <span class="text-primary">( 3 )</span>
                            </label>
                        </div>
                        <div class="radio-group mb-10">
                            <input id="price-1" type="checkbox" name="1000-2000">
                            <label for="price-1" class="text-gray text-sm">
                                1 000 - 2000 €
                                <span class="text-primary">( 32 )</span>
                            </label>
                        </div>
                        <div class="radio-group mb-10">
                            <input id="price-2" type="checkbox" name="2000-3000">
                            <label for="price-2" class="text-gray text-sm">
                                2 000 - 3000 €
                                <span class="text-primary">( 23 )</span>
                            </label>
                        </div>
                        <div class="radio-group mb-10">
                            <input id="price-3" type="checkbox" name="3000-5000">
                            <label for="price-3" class="text-gray text-sm">
                                3 000 - 5000 €
                                <span class="text-primary">( 5 )</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for filter_index, filter in filter_categories %}
            <div class="filter-item">
                <div class="flex justify-between items-center border-b border-border py-10 item-header">
                    <button type="button" class="item-trigger">
                        <svg class="mr-5" width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.38218 1.18769C0.380625 0.955113 0.486256 0.73157 0.675739 0.566441C0.865809 0.400792 1.12454 0.307617 1.39445 0.307617C1.66436 0.307617 1.92309 0.400792 2.11316 0.566441L5.44353 3.46269L8.79415 0.680191C9.18897 0.340933 9.82662 0.340933 10.2214 0.680191C10.4131 0.844487 10.5209 1.06813 10.5209 1.30144C10.5209 1.53475 10.4131 1.7584 10.2214 1.92269L6.17237 5.30019C5.77875 5.63369 5.1488 5.63369 4.75519 5.30019L0.706108 1.80019C0.507919 1.64156 0.391294 1.42104 0.38218 1.18769Z" fill="#1A1A1A"/>
                        </svg>
                        {{ filter.title }}
                    </button>
                    {% if filter.description is not empty %}
                        {% partial 'element/popup-popper-info' %}
                    {% endif %}
                </div>
                <div class="item-body">
                    <div class="py-20">
                        {% for index, item in filter.list %}
                        <div class="radio-group mb-10 {{ index >= 4 ? 'hidden-group' : '' }}">
                            <input id="filter-category-{{ filter_index }}__item-{{ index }}" type="checkbox" name="filter-category-{{ filter_index }}">
                            <label for="filter-category-{{ filter_index }}__item-{{ index }}" class="text-gray text-sm">{{ item.title }} <span class="text-primary">( {{ item.count }} )</span></label>
                        </div>
                        {% endfor %}
                        {% if filter.list|length > 4 %}
                        <button
                            type="button"
                            class="text-link text-sm btn-filter-show-more"
                            data-show-text="Показать еще"
                            data-hidden-text="Свернуть">
                            <span class="hover:underline">Показать еще</span> »</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <button type="button" class="absolute bg-primary hover:bg-primaryHover text-sm rounded-5 text-white btn-show-category">Показать</button>
    </div>
    <div class="mb-15">
        {% partial 'element/button'
            type = 'submit'
            text = 'Применить'
        %}
    </div>
    {% partial 'element/button'
        type = 'reset'
        text = 'Сбросить'
    %}
</form>
