{% set goods = [
    {
        title: 'Видеокарта MSI NVIDIA GeForce GTX 1660 GeForce GTX 1660...',
        imgSrc: 'assets/img/png/video-card.png'|theme,
        list: ['Видеочипсет: GTX 1660', 'Частота графич. проц.: 1530 МГц', 'Объем видеопамяти: 6 ГБ', 'Частота видеопамяти: 8000 МГц'],
        description: 'Культовая серия видеокарт Gaming с двухвентиляторным кулером возвращается!..',
        link: '#',
        rating: 4,
        best_price: false,
        most_popular: false,
        discount: false,
        discounted: false,
        in_stock: true,
        in_cart: false,
        old_price: '€ 999.000',
        new_price: '€ 1200'
    },
    {
        title: 'Видеокарта MSI NVIDIA GeForce GTX 1660 GeForce GTX 1660...',
        imgSrc: 'assets/img/png/video-card.png'|theme,
        list: ['Видеочипсет: GTX 1660', 'Частота графич. проц.: 1530 МГц', 'Объем видеопамяти: 6 ГБ', 'Частота видеопамяти: 8000 МГц'],
        description: 'Культовая серия видеокарт Gaming с двухвентиляторным кулером возвращается!..',
        link: '#',
        rating: 4,
        best_price: false,
        most_popular: false,
        discount: true,
        discounted: false,
        in_stock: true,
        in_cart: false,
        old_price: '€ 999.000',
        new_price: '€ 1200'
    },
    {
        title: 'Видеокарта MSI NVIDIA GeForce GTX 1660 GeForce GTX 1660...',
        imgSrc: 'assets/img/png/video-card.png'|theme,
        list: ['Видеочипсет: GTX 1660', 'Частота графич. проц.: 1530 МГц', 'Объем видеопамяти: 6 ГБ', 'Частота видеопамяти: 8000 МГц'],
        description: 'Культовая серия видеокарт Gaming с двухвентиляторным кулером возвращается!..',
        link: '#',
        rating: 4,
        best_price: true,
        most_popular: false,
        discount: false,
        discounted: false,
        in_stock: true,
        in_cart: false,
        old_price: '€ 999.000',
        new_price: '€ 1200'
    },
    {
        title: 'Видеокарта MSI NVIDIA GeForce GTX 1660 GeForce GTX 1660...',
        imgSrc: 'assets/img/png/video-card.png'|theme,
        list: ['Видеочипсет: GTX 1660', 'Частота графич. проц.: 1530 МГц', 'Объем видеопамяти: 6 ГБ', 'Частота видеопамяти: 8000 МГц'],
        description: 'Культовая серия видеокарт Gaming с двухвентиляторным кулером возвращается!..',
        link: '#',
        rating: 4,
        best_price: false,
        most_popular: true,
        discount: false,
        discounted: false,
        in_stock: true,
        in_cart: false,
        old_price: '€ 999.000',
        new_price: '€ 1200'
    },
    {
        title: 'Видеокарта MSI NVIDIA GeForce GTX 1660 GeForce GTX 1660...',
        imgSrc: 'assets/img/png/video-card.png'|theme,
        list: ['Видеочипсет: GTX 1660', 'Частота графич. проц.: 1530 МГц', 'Объем видеопамяти: 6 ГБ', 'Частота видеопамяти: 8000 МГц'],
        description: 'Культовая серия видеокарт Gaming с двухвентиляторным кулером возвращается!..',
        link: '#',
        rating: 4,
        best_price: false,
        most_popular: false,
        discount: false,
        discounted: true,
        in_stock: true,
        in_cart: false,
        old_price: '€ 999.000',
        new_price: '€ 1200'
    },
    {
        title: 'Видеокарта MSI NVIDIA GeForce GTX 1660 GeForce GTX 1660...',
        imgSrc: 'assets/img/png/video-card.png'|theme,
        list: ['Видеочипсет: GTX 1660', 'Частота графич. проц.: 1530 МГц', 'Объем видеопамяти: 6 ГБ', 'Частота видеопамяти: 8000 МГц'],
        description: 'Культовая серия видеокарт Gaming с двухвентиляторным кулером возвращается!..',
        link: '#',
        rating: 4,
        best_price: false,
        most_popular: false,
        discount: false,
        discounted: false,
        in_stock: false,
        in_cart: false,
        old_price: '€ 999.000',
        new_price: '€ 1200'
    },
    {
        title: 'Видеокарта MSI NVIDIA GeForce GTX 1660 GeForce GTX 1660...',
        imgSrc: 'assets/img/png/video-card.png'|theme,
        list: ['Видеочипсет: GTX 1660', 'Частота графич. проц.: 1530 МГц', 'Объем видеопамяти: 6 ГБ', 'Частота видеопамяти: 8000 МГц'],
        description: 'Культовая серия видеокарт Gaming с двухвентиляторным кулером возвращается!..',
        link: '#',
        rating: 4,
        best_price: false,
        most_popular: false,
        discount: false,
        discounted: false,
        in_stock: true,
        in_cart: true,
        old_price: '€ 999.000',
        new_price: '€ 1200'
    },
    {
        title: 'Видеокарта MSI NVIDIA GeForce GTX 1660 GeForce GTX 1660...',
        imgSrc: 'assets/img/png/video-card.png'|theme,
        list: ['Видеочипсет: GTX 1660', 'Частота графич. проц.: 1530 МГц', 'Объем видеопамяти: 6 ГБ', 'Частота видеопамяти: 8000 МГц'],
        description: 'Культовая серия видеокарт Gaming с двухвентиляторным кулером возвращается!..',
        link: '#',
        rating: 4,
        best_price: false,
        most_popular: false,
        discount: false,
        discounted: false,
        in_stock: true,
        in_cart: false,
        old_price: '€ 999.000',
        new_price: ''
    }
] %}

<div class="grid grid-cols-4 pb-80 gap-x-5 gap-y-10">
    {% for product in goods %}
        {% partial 'catalog/product/card' product=product %}
    {% endfor %}
</div>
