.hero-slider__link {
    max-width: 295px;
    &:hover {
        filter: brightness(1.05);
    }
}

.offer-card {
    border-right: 1px solid #E2E2E2;
    &:first-child {
        border-left: 1px solid #E2E2E2;
    }
}
.offer-card__description {
    max-width: 270px;
    color: #343A3F;
}
.watch-all-products {
    &:hover {
        color: #676767;
        .watch-all__eye-w-icon {
            background: linear-gradient(147.82deg, #59CD84 28.2%, #73DB00 82.6%);
        }
    }
}
