<section class="bg-lightGray py-75">
    <div class="container">
        <div class="grid grid-cols-6">
            <picture class="flex items-center justify-center">
                <img src="{{ 'assets/img/png/brand-1.png'|theme }}" alt="">
            </picture>
            <picture class="flex items-center justify-center">
                <img src="{{ 'assets/img/png/brand-2.png'|theme }}" alt="">
            </picture>
            <picture class="flex items-center justify-center">
                <img src="{{ 'assets/img/png/brand-3.png'|theme }}" alt="">
            </picture>
            <picture class="flex items-center justify-center">
                <img src="{{ 'assets/img/png/brand-4.png'|theme }}" alt="">
            </picture>
            <picture class="flex items-center justify-center">
                <img src="{{ 'assets/img/png/brand-5.png'|theme }}" alt="">
            </picture>
            <picture class="flex items-center justify-center">
                <img src="{{ 'assets/img/png/brand-6.png'|theme }}" alt="">
            </picture>
        </div>
    </div>
</section>
