<section class="bg-bottomStrip text-white text-sm py-20">
    <div class="container">
        <div class="flex justify-between items-center">
            <span>© 2020 All rights reserved</span>
            <a href="#">Terms of Conditions</a>
            <a href="#">Privacy Policy</a>
            <form>
                <button class="hover:underline" type="submit">English version</button>
            </form>
            <a href="https://biz-mark.ru" target="_blank" class="flex items-center">
                <picture class="mr-20">
                    <img src="{{ 'assets/img/biz-mark-logo.svg'|theme }}" alt="Biz-Mark">
                </picture>
                Разработано в biz-mark
            </a>
        </div>
    </div>
</section>
