<footer class="pt-45 pb-50">
    <div class="container">
        <div class="flex">
            <div class="mr-95">
                <a href="{{ 'index'|page }}">
                    <picture>
                        <img class="-ml-15 -mt-15" src="{{ 'assets/img/logo.png'|theme }}" alt="Screenon">
                    </picture>
                </a>
            </div>
            <div class="flex-1 grid grid-cols-4">
                <div>
                    <span class="uppercase font-medium mb-30">Категории</span>
                    <ul class="text-sm">
                        <li>
                            <a href="#">Готовые сборки</a>
                        </li>
                        <li>
                            <a href="{{ 'catalog/category'|page }}">Процессоры</a>
                        </li>
                        <li>
                            <a href="{{ 'catalog/category'|page }}">Материнские платы</a>
                        </li>
                        <li>
                            <a href="{{ 'catalog/category'|page }}">Видеокарты</a>
                        </li>
                        <li>
                            <a href="{{ 'catalog/category'|page }}">Оперативная память</a>
                        </li>
                        <li>
                            <a href="{{ 'catalog/category'|page }}">Накопители</a>
                        </li>
                        <li>
                            <a href="{{ 'catalog/category'|page }}">Аксессуары</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <span class="uppercase font-medium mb-30">Информация</span>
                    <ul class="text-sm">
                        <li>
                            <a href="#">Личный кабинет</a>
                        </li>
                        <li>
                            <a href="#">Доставка и оплата</a>
                        </li>
                        <li>
                            <a href="#">О нас</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <span class="uppercase font-medium mb-30">Сборки ПК</span>
                    <ul class="text-sm">
                        <li>
                            <a href="#">Конфигуратор ПК</a>
                        </li>
                        <li>
                            <a href="#">Сборки пользователей</a>
                        </li>
                        <li>
                            <a href="#">Сборки от магазина</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <span class="uppercase font-medium mb-30">Контакты</span>
                    <ul class="text-sm">
                        <li>
                            <a href="tel:+31 70 2140214">+31 70 2140214</a>
                        </li>
                        <li>
                            <a href="mailto:info@computerexpert.nl">info@computerexpert.nl</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
