.configurator-banner {
    background-position: center;
    background-size: cover;
    background-color: #EEEEEE;
    .section-title {
        padding-top: 75px;
        padding-bottom: 40px;
        font-weight: 400;
        max-width: 50%;
    }
}
